body {
  display: flex;
  background-color: deeppink;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

form {
  width: 20rem;
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
}

h1 {
  font-size: 4rem;
  margin: 0;
  text-align: center;
}

h1,
h2 {
  font-family: "Lobster", sans-serif;
}

h2 {
  font-size: 2rem;
}

p {
  margin-bottom: 0.5rem;
}

input {
  display: inline-block;
  width: 100%;
  padding: 0.3rem;
}

.text-pink {
  color: deeppink;
}

.link{
  color: white;
}

a{
  color: wheat;
  font-size: 2rem;
  font-family: 'Lobster', sans-serif;
}

a:hover{
  color: gold;
}

.circle{
  height: 20rem;
  width: 20rem;
  border-radius: 10rem;
  position: absolute;
  z-index: -1;
}

.circle-1{
  left: 28em;
  top: 20rem;
  background-color: #1DB9C3;
}

.circle-2{
  right: 28rem;
  bottom: 25rem;
}

@media screen {
  .circle-1{
    left: 10rem;
  }

  .circle-2{
    right: 10rem;
  }
}
